* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    position: relative;
}

.contenido-principal {
    width: 70%;
    position: absolute;
    top: 0;
    left: 30%;
}

.aside-info-personal {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    padding: 3%;
    padding-top: 0;
    background-color: rgba(33, 69, 89, 0.9);
    height: 100vh;
}

.imagen-perfil {
    width: 100%;
    padding: 12%;
    border-radius: 50%;
}

.titulo-curso {
    text-align: center;
    margin: 2%;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.info-curso {
    width: 70%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-curso p {
    padding: 2%;
}

.contenedor-info-curso img {
    width: 30%;
}

.contenedor-info-curso {
    display: flex;
    padding: 3%;
}

.evaluaciones {
    display: flex;
    width: 100%;
    justify-content: center;
}

.caja-evaluacion {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    height: 250px;
    width: 250px;
    margin: 5%;
    border-radius: 10%;
    -webkit-box-shadow: 8px 8px 17px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 8px 17px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 8px 8px 17px -8px rgba(0, 0, 0, 0.75);
}

.caja-evaluacion h3 {
    text-transform: uppercase;
    pointer-events: none;
}

.lista-evaluaciones {
    position: absolute;
    transform: translateY(-100%);
    background-color: royalblue;
    height: 250px;
    width: 250px;
    border-radius: 10%;
    transition: all 0.2s ease;
}

.caja-evaluacion:hover+.lista-evaluaciones {
    background-color: saddlebrown!important;
}

.lista {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.lista a {
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 4% 0;
    cursor: pointer;
    display: block;
    color: #f2f2f2;
}

.lista a:hover {
    background-color: rgba(242, 242, 242, 0.3);
}

.lista li {
    width: 100%;
}