@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato;
}

.contenedor {
    position: relative;
}

.contenido-principal {
    width: 70%;
    position: absolute;
    top: 0;
    left: 30%;
}

.aside-info-personal {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    padding: 3%;
    padding-top: 0;
    background-color: rgba(33, 69, 89, 0.9);
    height: 100vh;
}

.imagen-perfil {
    width: 100%;
    padding: 12%;
    border-radius: 50%;
}

.titulo-curso {
    text-align: center;
    margin: 2%;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.info-curso {
    width: 65%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-curso p {
    padding: 2%;
}

.contenedor-info-curso img {
    width: 35%;
    padding-right: 5%;
}

.contenedor-info-curso {
    display: flex;
    padding: 3%;
}

.evaluaciones {
    display: flex;
    width: 100%;
    justify-content: center;
}

.caja-evaluacion {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    height: 250px;
    width: 250px;
    margin: 5%;
    border-radius: 10%;
    -webkit-box-shadow: 8px 8px 17px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 8px 17px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 8px 8px 17px -8px rgba(0, 0, 0, 0.75);
}

.caja-evaluacion h3 {
    text-transform: uppercase;
    pointer-events: none;
}

.lista-evaluaciones {
    position: absolute;
    transform: translateY(-101%);
    background-color: rgba(33, 69, 89, 1);
    height: 250px;
    width: 250px;
    border-radius: 10%;
    transition: all 0.2s ease;
}

.lista-activa {
    transform: translateY(0%);
}

.caja-evaluacion:hover+.lista-evaluaciones {
    background-color: saddlebrown!important;
}

.lista {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.lista a {
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 4% 0;
    cursor: pointer;
    display: block;
    color: #f2f2f2;
}

.lista a:hover {
    background-color: rgba(242, 242, 242, 0.3);
}

.lista li {
    width: 100%;
}

.nombre-perfil {
    text-transform: uppercase;
    text-align: center;
    color: #f2f2f2;
}

.info-personal {
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.info-personal p {
    color: #f2f2f2;
}

.ver-perfil-btn {
    color: #f2f2f2;
    cursor: pointer;
    background-color: rgba(230, 110, 98, 1);
    padding: 8px 10px;
    border-radius: 50px;
}

.ver-perfil-btn:hover {
    background-color: rgba(210, 100, 90, 1);
}

.cerrarModalBtn {
    color: #f2f2f2;
    cursor: pointer;
    background-color: rgba(230, 110, 98, 1);
    padding: 8px 10px;
    border-radius: 50px;
    text-decoration: none;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #f2f2f2;
    width: 70%;
    margin: 10% auto;
    -webkit-box-shadow: 6px 6px 9px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 6px 9px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 6px 9px -3px rgba(0, 0, 0, 0.75);
    animation: modalAnimation 0.7s;
}

@keyframes modalAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-header, .modal-footer {
    background-color: rgba(33, 69, 89, 1);
    padding: 15px;
    color: #f2f2f2
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.modal-footer {
    text-align: right;
}

.modal-body {
    padding: 15px;
}

.modal-body h4 {
    margin: 10px 0;
}